{% extends "base.html" %}
{% block main%}
<div class="container">
    <div class="row">
        <h3>Start working!</h3>
        <p>picture number: {{ num+1 }}</p>
        <div class="col-md-6 col-sm-12">
            <div class="well">
                <img src="/pictures/{{ src }}" alt="" style="width: 100%;">
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="panel panel-warning">
                <div class="panel-heading">label this picture</div>
                <div class="panel-body">
                    <form action="/work" method="POST" class="form-horizontal">
                        <input type="hidden" name="num" value="{{ num }}">
                        <div class="form-group">
                            <label for="sex" class="control-label col-sm-2">性别</label>
                            <div class="col-sm-10">
                                <input type="radio" name="sex" value="0" required {{ sex0 }}>男
                                <input type="radio" name="sex" value="1" required {{ sex1 }}>女
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="eye_size" class="control-label col-sm-2">眼睛大小</label>
                            <div class="col-sm-10">
                                <input type="radio" name="eye_size" value="0" required>大
                                <input type="radio" name="eye_size" value="1" required>小
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="eyelid" class="control-label col-sm-2">单双眼皮</label>
                            <div class="col-sm-10">
                                <input type="radio" name="eyelid" value="0" required>单
                                <input type="radio" name="eyelid" value="1" required>双
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ear_size" class="control-label col-sm-2">耳朵大小</label>
                            <div class="col-sm-10">
                                <input type="radio" name="ear_size" value="0" required>大
                                <input type="radio" name="ear_size" value="1" required>小
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mouth_size" class="control-label col-sm-2">嘴巴大小</label>
                            <div class="col-sm-10">
                                <input type="radio" name="mouth_size" value="0" required>大
                                <input type="radio" name="mouth_size" value="1" required>小
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nose_height" class="control-label col-sm-2">鼻子高低</label>
                            <div class="col-sm-10">
                                <input type="radio" name="nose_height" value="0" required>高挺
                                <input type="radio" name="nose_height" value="1" required>扁平
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nose_length" class="control-label col-sm-2">鼻子长短</label>
                            <div class="col-sm-10">
                                <input type="radio" name="nose_length" value="0" required>长
                                <input type="radio" name="nose_length" value="1" required>短
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="face" class="control-label col-sm-2">脸型</label>
                            <div class="col-sm-10">
                                <input type="radio" name="face" value="0" required>国字脸
                                <input type="radio" name="face" value="1" required>瓜子脸
                                <input type="radio" name="face" value="2" required>鹅蛋脸
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hair_length" class="control-label col-sm-2">头发长短</label>
                            <div class="col-sm-10">
                                <input type="radio" name="hair_length" value="0" required>长发
                                <input type="radio" name="hair_length" value="1" required>短发
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hair_type" class="control-label col-sm-2">头发卷直</label>
                            <div class="col-sm-10">
                                <input type="radio" name="hair_type" value="0" required>卷发
                                <input type="radio" name="hair_type" value="1" required>直发
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hair_color" class="control-label col-sm-2">头发颜色</label>
                            <div class="col-sm-10">
                                <input type="radio" name="hair_color" value="0" required>黑色
                                <input type="radio" name="hair_color" value="1" required>棕色
                                <input type="radio" name="hair_color" value="2" required>金色
                                <input type="radio" name="hair_color" value="3" required>蓝色
                                <input type="radio" name="hair_color" value="4" required>绿色
                                <input type="radio" name="hair_color" value="5" required>白色
                                <input type="radio" name="hair_color" value="6" required>黄色
                                <input type="radio" name="hair_color" value="7" required>红色
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="skin_color" class="control-label col-sm-2">肤色</label>
                            <div class="col-sm-10">
                                <input type="radio" name="skin_color" value="0" required>超白
                                <input type="radio" name="skin_color" value="1" required>白
                                <input type="radio" name="skin_color" value="2" required>正常
                                <input type="radio" name="skin_color" value="3" required>略黑
                                <input type="radio" name="skin_color" value="4" required>黑
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <div class="col-sm-10">
                                    <a href='/prev?num={{num}}' class="btn btn-default" style="display: {{ display }}">上一个</a>
                                    <button type="submit" class="btn btn-primary">下一个</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}